<% locales.each do |l| %>
  <ul>
    <li>
      <a href='https://jsoneditoronline.org/?url=<%=CGI.escape("#{api_url}/api/locales/frontend?locale=#{l}")%>' target="_blank">
        <%= I18n.t("active_admin.languages.#{l}") %>
      </a>
    </li>
  </ul>

<% end %>