Deposits
<%= column_chart Backend::PaymentTransaction.confirmed.deposit.group('date(created_at)').count, stacked: true %>
Withdrawals
<%= column_chart Backend::PaymentTransaction.confirmed.withdrawal.group('date(created_at)').count, stacked: true %>