<div>
  <%= semantic_form_for :settings, :method => :post, url: {action: :update} do |f| %>
    <table id="settings" class="index_table index">
      <thead>
      <tr>
        <th style="width: 30%"><%= t('settings.index.name')%></th>
        <th><%= t('settings.index.value')%></th>
      </tr>
      </thead>
      <tbody>
      <% settings_model.settings.each_pair do |name, _| %>
        <% field_name = settings_model.field_name(name) %>
        <% next if %w[operator_default payments api_url Maven Cashier games nemid].include?(field_name) %>
        <tr class="odd">
          <td><strong><%= f.label field_name, t("settings.attributes.#{field_name}", default: field_name) %></strong></td>
          <td>
            <div class='form'>
              <ol><%= f.input field_name, settings_model.field_options(field_name, name) %></ol>
            </div>
          </td>
        </tr>
      <% end%>
      </tbody>
    </table>
    <%= f.submit %>
  <% end %>
</div>
