// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

//= require activeadmin_addons/all
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/active_admin_globalize";
@import "jsoneditor";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  //width: 79.5% !important;
  overflow: hidden;
}

.jsoneditor-container, .jsoneditor-contextmenu {
  table {
    width: auto;
    margin: 0;
  }

  .jsoneditor {
    background: white;
  }

  button, button:hover, .menu button, .menu button:hover {
    background: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
}

.jsoneditor-container {
  margin-left: 20%;
  width: 80%;
}

.attributes_table table th {
  width: 200px;
}